##Главная страница всех курсов

<div>
    $page.getLang().get("course.list.hello")<br />

    #foreach($c in $courses)
        <li><a href="$c.getNumber()/home/">$c.getName()</a></li>
    #end

    <a href="$page.getContextPath()/$page.getLanguage()/page/createCourse/">Создать курс</a>

</div>