<h3>Создание курса</h3>
#if (!$message.equals(""))
    <div class="alert alert-error">$message</div>
#end
<form method="POST" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="number">Номер курса </label>
        <div class="controls">
            <input type="text" name="number" id="number" value="$number">
        </div>
    </div>
    <input type="hidden" name="act" value="courseCreate"/>
    <div class="control-group">
        <label class="control-label" for="name">Название курса</label>
        <div class="controls">
            <input type="text" name="name" id="name" value="$name">
        </div>
    </div>

    <div class="control-group">

        <div class="controls">
            <input type="submit" value="Создать" class="btn btn-primary">
        </div>
    </div>

</form>