##Страница курса

<div>
    <div class="courseLeft">
        <ul>
            #foreach($cpage in $course.getPages())
                <li><a href="$cpage.getId()/">$cpage.getShortName()</a></li>
            #end
        </ul>
    </div>
    <div class="courseRight">
        2
    </div>

</div>