Текущая версия: $versionNumber<br />
<form method="POST">
    <input type="hidden" name="act" value="coursePageUpdate"/>
    <textarea rows="30" cols="50">$raw</textarea>
    <br />

    <input type="submit" value="Сохранить" />
</form>