##Главная страница всех курсов

<div>
    <h3>
        $page.getLang().get("course.list.hello")
    </h3>

    <ul >
        #foreach($c in $courses)
            <li ><a href="$c.getNumber()/home/">$c.getName()</a></li>
        #end
    </ul>
    <br />
    <button class="btn btn-primary" onclick="location.href='$page.getContextPath()/$page.getLanguage()/page/createCourse/'">Создать курс</button>


</div>