#if ($user.isAuth() == true)##Пользователь залогинен
    <span >
    <span style="font-weight: bold; position: relative; top: 5px;">
        $user.getName()
    </span> <input type="button" class="btn"
                   onClick="document.logoutForm.submit();"
                   value="Выйти"/></span>

#else

<span >
        <input type="button" class="btn" onClick="$('#loginForm').show(); " value="Войти"/>
    </span>


#end