<h3>Регистрация пользователя</h3>

#if (!$message.equals(""))
    <div class="alert alert-error">$message</div>
#end

<form method="POST" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Имя пользователя</label>
        <div class="controls">
            <input type="text" name="name" id="name" value="$name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="login">Логин</label>
        <div class="controls">
            <input type="text" name="login" id="login" value="$login">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">Пароль</label>
        <div class="controls">
            <input type="password" name="password" id="password" value="$password">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
            <input type="text" name="email" id="email" value="$email">
        </div>
    </div>

    <input type="hidden" name="act" value="userReg"/>


    <div class="control-group">

        <div class="controls">
            <input type="submit" value="Зарегистрироваться" class="btn btn-primary">
        </div>
    </div>

</form>